node_modules/**/*
node_modules/

build/**/*
build/

logs/**/*
logs/

coverage/**/*
coverage/

.git/**/*
.git/

.vscode/**/*
.vscode/

.husky/**/*
.husky/

*.bat
*.cfg
*.yml
*.md
.eslintrc*
.prettierrc*
*.dockerfile
*.spec*
*.test*
.editorconfig
tsconfig.json
.git*
apollo.config.js
*.env